<div ng-controller="mesEncheres">
    <h1>Mes Encheres</h1>

    <md-button  class="md-raised md-primary" href="/#!/enchere/add">Ajouter un Objet</md-button>

    <section ng-if="listEnchers.length > 0" class="tiles">
        <article ng-repeat="(index, item) in listEnchers" ng-class="'style'+((index%5)+1)" >
            <span ng-if="item" class="image">
                <img  src="/images/pic{{((index%15)+1)}}.jpg" alt="" />
            </span>
            <a>
                <h2>{{item.name}}</h2>
                <div class="content">
                    <enchere-Detail item="item"></enchere-Detail>

                    <b>Status</b> :
                    <span ng-if="item.sold">  Termine <br> </span>
                    <span ng-if="!item.sold"> En cours<br> </span>
                </div>
            </a>
        </article>
    </section>
</div>