<div ng-controller="enchereWin">
    <h1>{{message}}</h1>

    <section ng-if="mesVictoires.length > 0" class="tiles">
        <article ng-repeat="(index, item) in mesVictoires" ng-class="'style'+((index%5)+1)" >
            <span ng-if="item" class="image">
                <img  src="/images/pic{{((index%15)+1)}}.jpg" alt="" />
            </span>
            <a>
                <h2>{{item.name}}</h2>
                <div class="content">
                    <enchere-Detail item="item"></enchere-Detail>

                    <p><b>Vendeur</b> : {{item.seller}}</p>
                </div>
            </a>
        </article>
    </section>

</div>