<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">{{item.name}}</div>
</md-toolbar>
<p>{{item.description}}</p>
<p>
    <b>Prix de base</b> : {{item.price}} &#128; <br>
    <b>Prix courant</b> : {{item.currentPrice}} &#128;
</p>
<h6 ng-if="!item.sold  && item.leader"><b>Gagnant provisoire</b> : {{item.leader}}</h6>
<div ng-if="item.sold">
    <p>
        <strong>Enchere fini.
            <span ng-if="item.leader">Gagne par : {{item.leader}}</span>
            <span ng-if="!item.leader">Personne a participe dans l'enchere</span>
        </strong>
    </p>
</div>
<p><b>Vendeur</b> : {{item.seller}}</p>