<div ng-controller="lesencheres">
    <h1>Les encheres en cours</h1>
    <div layout="row" class="items">
            <div class="item" flex ng-repeat="item in lesEncheres">
                <md-card>
                    <enchere-Detail item="item"></enchere-Detail>
                    <p><b>Vendeur</b> : {{item.seller}}</p>
                    <div ng-if="!item.sold">
                        <md-input-container >
                            <input type="number" placeholder="Montant" ng-model="nombre" required>
                        </md-input-container >
                        <md-button class="md-raised md-primary" ng-click="enrichir(item,nombre)" ng-disabled="desactiver">Encherir</md-button>
                        <p ng-if="message">{{message}}</p>
                    </div>

                </md-card>
            </div>
    </div>
</div>