<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Gringott</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/#!/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#!/enchere">Liste des encheres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#!/enchere/my">Mes Encheres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#!/enchere/win">Mes Victoires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#!/enchere/add">Mes Objets</a>
            </li>
            <li ng-if="name" class="nav-item" style="margin-left:20px;display: inline-flex;">
                <span class="nav-link">Connecter en tant que : <i>{{name}}</i></span>
                <a class="nav-link" href="/#!/login">Se Deconnecter</a>
            </li>
            <li ng-if="!name" class="nav-item">
                <a class="nav-link" href="/#!/login">Se Connecter</a>
            </li>
        </ul>
    </div>
</nav>
