<div ng-controller="mesEncheres">
    <h1>Mes Encheres</h1>
    <md-list>
        <md-list-item class="md-2-line" ng-repeat="item in listEnchers">
            <md-checkbox ng-model="item.done"></md-checkbox>
            <div class="md-list-item-text">
                <h3><b>Produit</b> : {{item.name}}</h3>
                <h4><b>Description</b> : {{item.description}}</h4>
                <b>Prix de base</b> : {{item.price}} euros <br>
                <b>Prix courant</b> : {{item.currentPrice}} euros <br>
                <b>Status</b> : {{item.sold}} <br>
                <b>Vendeur : {{item.seller}}</b>
                <hr>
            </div>
        </md-list-item>
    </md-list>
</div>